#wrapper {
	padding: 5px;
}

#body_content, img {
	height: 300px;
	width: 500px;
	display: block;
}

#about {
	height: 300px;
	width: 500px;
	display: block;
	margin-left: 700px;
	margin-top: -300px;
}

h4 {

}