<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ninja Gold</title>
</head>
<body>

	<form action="/process_money">
		<input type="hidden" name="barn" value="farm" />
		<input type="submit" value="Find Gold!"/>
		<input type="button" name="farm" value="farm">
	</form>

	<form action="/process_money">
		<input type="hidden" name="hollow_shell" value="hollow_shell" />
		<input type="submit" value="Find Gold!"/>
		<input type="button" name="hollow_shell" value="hollow_\">
	</form>

	<form action="/process_money">
		<input type="hidden" name="residence" value="residene" />
		<input type="submit" value="Find Gold!"/>
		<input type="button" name="residence" value="house">
	</form>

	<form action="/process_money">
		<input type="hidden" name="horseshoe" value="horseshoe" />
		<input type="submit" value="Find Gold!"/>
		<input type="button" name="casino" value="casino">
	</form>


</body>
</html>