<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ninja Gold</title>
</head>
<body>

	<form id="farm" action="/process_money">
		
		<input type="button" name="farm">
	</form>

	<form id="cave" action="/process_money">
		
		<input type="button" name="cave" value="cave">
	</form>

	<form id="house" action="/process_money">
		
		<input type="button" name="house" value="house">
	</form>

	<form id="casino" action="/process_money">
		
		<input type="button" name="casino" value="casino">
	</form>


</body>
</html>